<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "rails_i18n_onair/banner.svg", height: 40, alt: "Rails I18n OnAir" %>
    <% end %>

    <div class="d-flex align-items-center ms-auto">
      <% if current_translator %>
        <span class="user-info">
          <i class="bi bi-person-circle"></i>
          <%= current_translator.username %>
        </span>
        <%= button_to "Sign Out", logout_path, method: :delete, class: "btn btn-outline-light btn-sm", data: { confirm: "Are you sure you want to sign out?" } %>
      <% end %>
    </div>
  </div>
</nav>
